.workFor {
  .workFor-Title {
    text-align: center;
    line-height: 2;
    font-weight: var(--fw-600);
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: var(--fs-4);
  }
  .my-card {
    transition: var(--transition-1);
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
  .my-card-title {
    a {
      color: white;
      @media (any-hover: hover) {
        &:hover {
          color: var(--vegas-gold);
        }
      }
    }
  }
  .my-card-text {
    p {
      color: var(--light-gray);
    }
  }
}
