.workFor {
  .workFor-Title {
    text-align: center;
    line-height: 2;
    font-weight: var(--fw-600);
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: var(--fs-4);
  }
  .my-card {
    transition: var(--transition-1);
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
  .my-card-title {
    a {
      color: white;
      @media (any-hover: hover) {
        &:hover {
          color: var(--vegas-gold);
        }
      }
    }
  }
  .my-card-text {
    p {
      color: var(--light-gray);
    }
  }
  .workForVal-Chrono-title {
    padding: 10px 0;
    .workForVal-Chrono-title-time {
      line-height: 2;
    }
    .workForVal-Chrono-title-split {
      position: relative;

      height: 18px;
      &::before {
        position: absolute;
        content: "";
        width: 3px;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--white-2);
      }
    }
  }
  @media (max-width: 374px) {
    .dMpqbd,
    .jMzAUM {
      padding: 0 !important;
    }
  }
}
