.sidebar {
  box-sizing: content-box;
  overflow: hidden;
  transition: var(--transition-2);
  padding: 30px;
  .sidebar-userInfo {
    .userInfo-flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .userInfo-image {
      background: var(--bg-gradient-onyx);
      border-radius: 20px;
      width: 80px;
      img {
        width: 100%;
      }
      @media (min-width: 580px) {
        border-radius: 30px;
        width: 120px;
      }
      @media (min-width: 1200px) {
        width: 150px;
      }
    }

    .userInfo-userName {
      color: var(--white-2);
      font-size: var(--fs-3);
      font-weight: var(--fw-500);
    }
    .userInfo-situation {
      color: var(--white-1);
      background: var(--onyx);
      font-size: var(--fs-8);
      font-weight: var(--fw-300);
      width: max-content;
      padding: 5px 18px;
      border-radius: 8px;
    }
  }
  .sidebar-more {
    transition: var(--transition-2);
  }

  .siderbar-showMore {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 15px;
    font-size: 13px;
    color: var(--orange-yellow-crayola);
    background: var(--border-gradient-onyx);
    padding: 10px 15px;
    box-shadow: var(--shadow-2);
    transition: var(--transition-1);
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      inset: 1px;
      border-radius: inherit;
      background: var(--bg-gradient-jet);
      transition: var(--transition-1);
      z-index: -1;
    }
    &:hover {
      background: var(--bg-gradient-yellow-1);
      cursor: pointer;
    }
    // @media (min-width: 1200px) {
    //   display: none;
    // }
  }

  @media (min-width: 1200px) {
    position: sticky;
  }
  @media (max-width: 1200px) {
    position: relative;
  }
}
